@charset "UTF-8";
* {
  box-sizing: border-box;
}

body, input, select, textarea, a, th, td, caption, h1, h2, h3, h4, h5, h6 {
  font-family: "Malgun Gothic", "맑은 고딕", helvetica, "Apple SD Gothic Neo", sans-serif;
}

body, h1, h2, h3, h4, h5, h6, p, blockquote, pre, dl, dd, ol, ul, fieldset, legend, figure, menu {
  margin: 0;
  padding: 0;
  border: 0;
}

table, th, td {
  border-spacing: 0;
  border-collapse: collapse;
}

ol, ul {
  list-style: none;
}

a, a:hover, a:active {
  color: inherit;
  text-decoration: none;
}

button, input[type=submit], input[type=button], input[type=reset] {
  border: 0;
  background: transparent;
  cursor: pointer;
}

img {
  border: 0;
  vertical-align: top;
}

.is-blind {
  overflow: hidden;
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  clip: rect(0 0 0 0);
}

html, body {
  height: 100%;
}

body {
  background-color: #eee;
}

hr {
  margin: 10px 0;
  border-color: #c5c5c5;
  border-style: solid;
  border-width: 1px 0 0 0;
}

select[class*=select-],
input[class*=input-] {
  height: 26px;
  font-size: 13px;
  border: 1px solid #ccc;
  padding: 0 5px;
}
select[class*=select-]::placeholder,
input[class*=input-]::placeholder {
  font-size: 12px;
}

button.btn {
  width: 60px;
  height: 26px;
  font-size: 13px;
  color: #fff;
  background-color: #288491;
  padding: 0 10px;
}
button.btn.delete, button.btn.cancel {
  background-color: #d18a08;
}

.common-table {
  width: 100%;
}
.common-table col.col-1 {
  width: 29%;
}
.common-table col.col-2 {
  width: 33%;
}
.common-table col.col-3 {
  width: 15%;
}
.common-table thead th {
  font-size: 14px;
  font-weight: normal;
  text-align: center;
  position: relative;
  padding: 5px 0;
}
.common-table thead th::after {
  content: "";
  display: block;
  width: 1px;
  height: 10px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: #c5c5c5;
  margin: auto 0;
}
.common-table thead th:last-of-type::after {
  content: none;
}
.common-table tbody td {
  font-size: 13px;
  padding: 5px 10px;
}
.common-table tbody td.none {
  text-align: center;
  padding: 25px 0;
}
.common-table tbody .no {
  text-align: center;
}
.common-table tbody .date {
  font-size: 12px;
  word-break: keep-all;
  text-align: center;
}
.common-table tbody .date .date-at:last-of-type {
  margin-top: 5px;
}
.common-table tbody input {
  width: 100%;
}
.common-table tbody input[readonly] {
  color: gray;
  border: none;
  background-color: #d1cfcf;
  cursor: default;
}
.common-table tbody input[readonly]:focus {
  outline: none;
  cursor: default;
}
.common-table .btn-wrap {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  padding: 0 13px;
}

.inner {
  max-width: 768px;
  margin: 0 auto;
}

.common-header {
  background-color: #288491;
  padding: 17px 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}
.common-header .common-title {
  font-size: 14px;
  font-weight: normal;
  display: flex;
  flex-flow: row wrap;
}
.common-header .link {
  display: flex;
  flex-flow: row wrap;
  align-content: center;
}
.common-header .txt {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  margin-left: 3px;
}

.main-container {
  padding-top: 107px;
  padding-bottom: 70px;
}
.main-container .label-box {
  max-width: 425px;
  margin: 50px auto auto;
  display: flex;
  flex-flow: row wrap;
  align-items: flex-end;
  justify-content: space-between;
  border: 1px solid #d4d4d4;
  border-radius: 10px;
  box-shadow: 1px 2px 4px 2px grey, inset 0px -1px 11px 2px #dbdbdb;
  background-color: #fff;
  padding: 50px 20px;
}
.main-container .label-box label {
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
  padding-right: 10px;
}
.main-container .label-box .txt {
  font-size: 12px;
  letter-spacing: -0.025em;
  margin-bottom: 3px;
}
.main-container .info-wrap {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 10px;
}
.main-container .info {
  font-size: 19px;
}
.main-container .info span {
  font-size: 20px;
  font-weight: bold;
}
.main-container .search-wrap {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}
.main-container .search-wrap .input-search {
  width: 200px;
  margin-left: 10px;
}
.main-container .search-wrap .btn {
  margin-left: 10px;
}
.main-container .name-box {
  display: flex;
  flex-flow: row wrap;
  align-content: center;
  justify-content: space-between;
  margin: 20px 0 0;
}
.main-container .name-box input {
  flex: 1 0 auto;
  margin-right: 10px;
}
.main-container .table-wrap {
  margin-top: 30px;
}

.pagination-wrap nav {
  margin-top: 20px;
}
.pagination-wrap nav div {
  justify-content: center;
}
.pagination-wrap nav div:first-of-type {
  display: none;
}

/*# sourceMappingURL=style.css.map */
